body {
    margin: 0;
    font-family: sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

/*  CONTAINERS & SUB CONTAINERS */

.appContainer {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.appTitle {
    text-align: center;
    margin-bottom: 30px;
}

.subContainer {
    background: #1e293b;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
}

.subContainerRow {
    width:60%; 
    margin:10px auto;
}

/* GLOBAL USER INPUT ITEMS i.e. BUTTONS, TEXT FIELDS */
.userInput {
    height:35px; 
    margin-left:10px; 
    font-size:12pt;
}

/* SWITCH BUTTONS */
.switchBtnsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.switchBtnWrapper {
    width:160px; 
    margin:3px 10px;
}

/* BUTTON */
.switchBtn {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.switchBtn.on {
    background: #22c55e;
    color: white;
}

.switchBtn.off {
    background: #475569;
    color: white;
}

/* FORM */
#lightCfgSettingsForm {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.cfgSettingsField {
    height:50px;
}

.cfgSettingsField label {
    display: inline-block;
    width: 175px;
}

.cfgSettingsField input {
    width: 50px;
}

/* CHART GRID */
#lightUsageStatsChart {
    width:800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.statChart {
    background: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 45%;
    min-height: 300px;
    max-height: 300px;
}
